<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.db.jdbc.interfaces.IMedicalSuppliesDAO">
    <resultMap id="MedicalSuppliesResultMap" type="MedicalSupplies" autoMapping="false">
        <result property="supplyId" column="id"/>
        <result property="name" column="name"/>
        <result property="quantity" column="quantity"/>
        <result property="unitPrice" column="unit_price"/>
        <association property="supplier" column="supplier_id" javaType="Supplier"
                     select="com.solvd.db.jdbc.interfaces.ISupplierDAO.getById"/> 
    </resultMap>
    <insert id="insert" parameterType="MedicalSupplies" useGeneratedKeys="true" keyProperty="supplyId">
        INSERT INTO medical_supplies (name, quantity, unit_price, supplier_id) VALUES (#{name},
        #{quantity}, #{unitPrice}, #{supplier.supplierId});
    </insert>
    <update id="update" parameterType="MedicalSupplies">
        UPDATE medical_supplies SET
        id = #{supplyId}, name = #{name}, quantity = #{quantity}, unit_price = #{unitPrice}, supplier_id = #{supplier.supplierId}
        WHERE id = #{supplyId};
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE FROM medical_supplies WHERE id = #{supplyId};
    </delete>
    <select id="getAll" resultMap="MedicalSuppliesResultMap">
        SELECT * FROM medical_supplies;
    </select>
    <select id="getById" parameterType="int" resultMap="MedicalSuppliesResultMap">
        SELECT * FROM medical_supplies WHERE id = #{supplyId};
    </select>
    <select id="getMedicalSuppliesByName" parameterType="String" resultMap="MedicalSuppliesResultMap">
        SELECT * FROM medical_supplies WHERE name = #{name};
    </select>
</mapper>